<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="petrsu.smartroom.android.srcli"
    android:versionCode="14404"
    android:versionName="0.9.2" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />
    
    <uses-feature android:name="android.hardware.wifi" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_smartroom"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <activity
            android:name="petrsu.smartroom.android.srcli.SmartRoomInfo"
            android:launchMode="singleTask">
            <intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<category android:name="android.intent.category.BROWSABLE" />
            	<data android:scheme="content" 
            	    android:host="*"
            	    android:mimeType="application/sr" />
            	<data android:scheme="file" 
            	    android:host="*"
                 	android:mimeType="application/sr" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="petrsu.smartroom.android.srcli.KP"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="petrsu.smartroom.android.srcli.Agenda"
            android:launchMode="singleTask"
            android:label="@string/agenda"></activity>
        
         <activity 
            android:name="petrsu.smartroom.android.srcli.ServicesMenu"
            android:launchMode="singleTask"
            android:label="@string/avail_services"></activity>
         
         <activity 
            android:name="petrsu.smartroom.android.srcli.Projector"
            android:launchMode="singleTask"
            android:label="@string/presentation"
            android:screenOrientation="landscape"></activity>
         
         <activity 
            android:name="petrsu.smartroom.android.srcli.SettingsMenu"
            android:launchMode="singleTask"
            android:label="@string/menu_settings"></activity>
         
         <service
            android:name="petrsu.smartroom.android.srcli.MicService"
            android:label="@string/mic_service"></service>
         
         <service
            android:name="petrsu.smartroom.android.srcli.NetworkService"
            android:label="@string/netService"></service>
         
         <activity 
            android:name="petrsu.smartroom.android.srcli.Profile"
            android:launchMode="singleTask"
            android:label="@string/profileLabel">
         </activity>

        <activity android:name="petrsu.smartroom.android.srcli.WebViewer"
            android:label="@string/dqBrowser">
        </activity>

        <activity
            android:name="petrsu.smartroom.android.srcli.CityGallery"
            android:launchMode="singleTask"
            android:label="CityGallery">
        </activity>

    </application>

</manifest>